.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
