body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #000;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}
